$background-color: #fafafa;
$foreground-color: #374046;
$light-font: #f0f4c3;
$nav-color:  #2c3338;
$nav-font: #1b81e5;
$display-color: #e8ebec;

body {
  
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
}

.profile-bar {
  
  float: left;
  color: $light-font;
  margin: 1em;
  width: 25vw;
  text-align: center;
  
  @media (max-width: 960px) { 
    width: 40vw;
  }
  
  @media (max-width: 760px) {
    
    float: none;
    display: block;
    margin: 1em auto;
    width: 90vw;
  }
}

.content {
  
  margin: 1em;
  text-align: center;
}

.profile-info {
  background-color: $foreground-color;
}

.portrait {
  
  display: block;
  margin: auto;
  padding: 3em 0 1em 0;
  width: 65%;
}

.icon {
  
  color: white;
  margin: 0.5em;
  text-decoration: none;
  
  &:visited {
    color: white;
    text-decoration: none;
  }
  
  &:hover {
    color: #cccccc;
    text-decoration: none;
  }
}

.nav {
  
  list-style-type: none;
  padding: 2em;
  margin: auto;
}

.nav-item {
  
  background-color: $nav-color;
  color: white;
  height: 2em;
  margin: 0.5em;
  padding-top: 0.5em;
  
  a {
  
    color: $nav-font;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
}

.skill-section {
  
  background-color: $foreground-color;
  margin: 1em;
  padding: 0.5em;
}

.skill {
  
  display: inline-block;
  background-color: $nav-color;
  color: $nav-font;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 25%;
}

.tbinfo-wrapper {

  display: inline-block;
  background-color: $display-color;
  width: 20em;
  margin: 0.5em;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: $nav-font;
  box-shadow: 2px 2px 4px #888888;
  
  @media (max-width: 760px) {
    width: 18em;
  }
}

.info {

  padding: 5px;
  text-align: left;
  
  a {
    
    color: black;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.thumbnail-container {

  height: 256px;
  width: inherit;
  overflow: hidden;
}

.thumbnail {
  
  img {
    max-width: 100%;
  }
}