@import '../_variables';

.nav {

  list-style-type: none;
  padding: 2em;
  margin: auto;
}

.nav-item {

  background-color: $nav-color;
  color: white;
  height: 2em;
  margin: 0.5em;
  padding-top: 0.5em;

  a {

    color: $nav-font;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
