@import '../_variables';

.skillsection {

  //background-color: $foreground-color;
  margin: 1em;
  padding: 0.5em;
}

.skill {

  display: inline-block;
  background-color: $nav-color;
  color: $nav-font;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 25%;
}