@import '../_variables';

.topbar {

  background-color: $foreground-color;
  box-shadow: 4px 0 6px 2px #888888;
  display: block;
  color: ghostwhite;
  text-align: center;
}

.nav-wrapper {

  text-align: right;
}


.header {

  display: inline-block;
  margin: 2em;
  padding: 0 6em 0 6em;
  border-width: 5px;
  border-color: whitesmoke;
  border-style: ridge;

  @media (max-width: 760px) {

    padding: 0;
    border-style: none;
  }
}